.pet-icon {
    height: 20px;
}

.name-input {
    width: 150px;
}

.upload-photo {
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.age {
    display: inline-block;
    margin-right: 10px;
}

.add-pet-btn {
    float: right;
}